<html>
    <head>
        <title>Myjunoon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/css/modmain.css">
        <link rel="stylesheet" href="/css/modnav.css">
    </head>

    <body>
                 
        

        <div class="ui sidebar inverted vertical menu">
            <h2 class="ui inverted header">
                <img src="https://semantic-ui.com/images/avatar2/large/patrick.png" class="ui circular image">
                <% if (guest==0){ %>
                  <%= loggeduser.userfullname.split(' ')[0] %>

                <% }else{%>
                  Guest
                <% } %>
              </h2>
              <br>


              <% if(guest==1){ %>
                <a class="item" href='/login'>
                  <i class="key icon"></i>
                  Login
                </a>
              <% } %>

            <a class="item" href="https://www.youtube.com/channel/UCqkM4QOJrXRhTidMW_GpqZA">
              <i class="youtube icon"></i>
              We On Youtube
            </a>

            <a class="item" href="https://docs.google.com/forms/d/e/1FAIpQLSedV0FPr5aVqC2_66uTcwPr1mAQIYtQDhu5TL0q215_lx3Btw/viewform">
              <i class="microphone icon"></i>
              Nominate A Speaker
            </a>

            <% if(guest==0){ %>
              <a class="item" href='/logout'>
                <i class="logout icon"></i>
                Logout
              </a>
            <% } %>
        </div>
        <div class="pusher">
            <!-- Site content !-->
              <!--Top Nav-->
              <div class="ui fixed inverted menu">
                <a class=" item" onclick="sidebar()">
                  <i class="bars icon" id="navbar"></i>
                </a>
                
                <img  src="/images/logomin.png" height="40px" alt="logo">

                <a class="item  right">
                    <i class="bell icon" id="navbar"></i>
                </a>
              
               </div> 

               <br>
               <!--Video Category-->
               
                  <div class="ui top inverted  segment" >
                      <div class="ui fluid secondary inverted three item  pointing menu" >
                        <a class="
                        <% if(vidcat==1){ %>
                          active
                        <% } %>
                        item" href="<% if(guest==1){ %> /guestmode/r <% }else{ %> / <% } %>">
                          Recommended
                        </a>
                        <a class="
                        <% if(vidcat==2){ %>
                          active
                          <% } %>
                        item" href="<% if(guest==1){ %>/guestmode/l<% }else{ %>/latest <% } %>">
                          Latest
                        </a>
                        <a class="
                        <% if(vidcat==3){ %>
                          active
                        <% } %>
                        item" href="<% if(guest==1){ %>/guestmode/m<% }else{ %>/mostviewed<%}%>">
                          Most Viewed
                        </a>
                      </div>
                    </div>

                     <!--Bottom Nav-->
                    <div id="bottombar" class="ui labeled tiny inverted bottom fixed icon three item menu">
                          <a class="item" href="<% if(guest==1){ %>/guestmode/r<%}else{%>/<%}%>">
                            <i class="home red icon"></i>
                            Home
                          </a>
                          <a class="item" href="/guestmoderror">
                            <i class="compass red icon"></i>
                            Discover
                          </a>
                          <a class="item" href="/guestmoderror">
                            <i class="folder red icon"></i>
                            Library
                          </a>
                    </div>

               
               

            <!--Menue Ends Here-->
            
            <br>
            <div class="ui container">
                <div class="ui three stackable cards">
                  <% vidlis.forEach(function(vid){ %>
                    <div class="card">
                      <div class="image">
                        <img src="
                        <%= vid.image %>     
                        " onclick="window.location.href='<% if (guest==1){ %>/videog/<%= vid.link %><% }else{ %>/video/<%= vid.link %><% } %>'">
                      </div>
                      <div class="content">
                        <div class="description">
                          <%= vid.title %>
                        </div>
                      </div>
                      <div class="extra content">
                          <a>
                              <i class="users icon"></i>
                              <%= vid.views %> Views
                            </a>
                      </div>
                    </div>
                    <% }); %>
                  </div>

            </div>
            
            

</div>
   
      <br><br><br><br><br>
      <script src="/js/jquery-3.4.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" ></script>
      <script>
        function sidebar(){
          $('.ui.sidebar').sidebar('toggle');
        }
      </script>
    </body>
</html>